* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: #F7F5EF;
    color: #333333;
    font-family: sans-serif;
}

.infocard {
    text-align: center;
    padding: 1rem;
    border: solid 2px black;
    border-radius: 8px;
    margin: 1rem;
}

.heading {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #333333;
    color: #F7F5EF;
    border-radius: 5px;
    gap: 1rem;
}

.logo {
    max-width: 200px;
    border-radius: 8px;
}

h2{
    padding-bottom: .5rem;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

.colorcard {
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    border: solid 1px black;
}

.green {
    background-color: #4CAF50;
}

.orange {
    background-color: #F57C00;
}

.mobileview {
    max-width: 40%;
}

.desktopview {
    max-width: 90%;
}

