.parent {
    display: grid;
    grid-template: auto auto 1fr auto / 2fr 1fr;
}

header {
    grid-column: 1/3;
    grid-row: 1;
    background-color: #333;
    color: white;
}

header p{
    padding: 1rem;
}

nav{
    grid-column: 1/3;
    grid-row: 2;
    background-color: black;
    display: flex;
    justify-content: space-around;
    
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

main{
    grid-column: 1/2;
    grid-row: 3;
    background-color: #ccc;
    min-height: 300px;
    padding: 1rem;
}

aside{
    grid-column: 2/3;
    grid-row: 3;
    background-color: white;
    padding: 1rem;
}

footer{
    grid-column: 1/3;
    grid-row: 4;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}