* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
}

header {
    grid-row: 1;
    grid-column: 1/3;
    background-color: rgb(16, 16, 122);
    color: white;
}

header span{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 1rem;
}

nav {
    display: flex;
    background-color: rgb(43, 43, 43);
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem;
}

nav a:hover{
    text-decoration: underline;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;  
    max-width: 1000px;
}

h1{
    grid-column: 1/3;
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(48, 63, 206);
    color: white;
    border-radius: 10px;
}

.card {
    flex: 1;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    background: #f8f8f8;
}

.card p{
    padding: 1rem;
}

.leftCard {
    grid-row: 2;
    grid-column: 1/2;
}

.rightCard {
    grid-row: 2;
    grid-column: 2/3;
}

h2{
    background-color: rgb(48, 63, 206);
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

section img{
    max-width: 200px;
    padding: 1rem;
    float: right;
}

.right-img{
    max-width: 150px;
}

footer {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    background-color: rgb(16, 16, 122);
    padding: 1rem;
    color: white;
}

.modification{
    display: flex;
    justify-content: center;
}