* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 400px;
    margin: 0 auto;
    font-family: sans-serif;
}

.edge {
    background-color: rgb(16, 16, 122);
    text-align: center;
    padding: 1rem;
    color: white;
    border-radius: 8px;
}

header {
    margin-bottom: 1rem;
}

form{
    background-color: #F7F5EF;
    padding: 1rem;
    margin: 1rem;
    border: solid 1px black;
}

input, select, textarea {
    box-sizing: border-box;
}

label{
    display: block;
}

.radio-buttons{
    display: flex;
    flex-direction: column;
}

.section{
    margin: .5rem;
}

.inputfield {
    width: 100%;
    max-width: 100%;
    padding: .4rem;
    border-radius: 5px;
}

textarea {
    height: 120px;
}

.button {
    width: 100%;
    background-color: lightgreen;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

footer {
    grid-row: 3;
    grid-column: 1/3;
    margin-top: 1rem;
}

.modification {
    display: flex;
    justify-content: center;
}