*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

header{
    background-color: rgb(16, 16, 122);
    color: white;
    text-align: center;
}

h1 {
    padding: 2rem;
    font-size: 2rem;
}

.mainImg {
    position: relative;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: .4rem;
    background-color: red;
}

section {
    position: static;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

section h2{
    background-color: red;
    border-radius: 8px;
    grid-column: 1/3;
    padding: 1rem;
    margin: .5rem;
}

section img{
    max-width: 15%;
    grid-column: 1/3;
    justify-self: center;
    padding: 1rem;
}

section strong{
    grid-column: 1/2;
    justify-content: end;
    justify-self: end;
    margin-bottom: .5rem;
}

section p{
    grid-column: 2/3;
    justify-self: start;
    padding-left: .5rem;
}

.emoji{
    display: none;
}

footer {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    background-color: rgb(16, 16, 122);
    padding: 1rem;
    color: white;
}

.modification{
    display: flex;
    justify-content: center;
}