footer {
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    background-color: rgb(16, 16, 122);
    padding: 1rem;
    color: white;
}

.modification{
    display: flex;
    justify-content: center;
}