* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
}

/* Header element */
header, footer{
    background-color: rgb(16, 16, 122);
    padding: 1rem;
    color: white;
}

header{
    display: flex;
}

header p {
    font-size: 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#burguer {
    font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#burguer::before{
    content: "☰";
    
}
#burguer.open::before{
    content: "❌";
}

.navigation{
    width: 2fr;
    margin-left: auto;
    margin-right: 1.5rem;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	color: #fff;
}

.navigation a{
    display: none;
    padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.open a{
    display: block;
}

/* Main Elements */
main{
    display: grid;
    grid-template-rows: auto 1fr;
}

h1 {
    grid-row: 0;
    margin: 2rem;
    text-align: center;
}

.pictureContainer {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

img {
    max-width: 300px;
    min-width: 200px;
}

/* Footer Elements */
footer {
    text-align: center;
    margin-top: 1rem;
}

.modification{
    display: flex;
    justify-content: center;
}