* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}


header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 0.1px solid black;
    padding: 1rem;
    background-color: rgb(130, 167, 223);
 }

 main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
 }

 section {
    background-color: white;
    padding: 1rem;
 }